<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yy.landmark">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name">
        <activity
                android:name="com.sample.tracking.FaceTrackerActivity"
                android:label="@string/app_name"
                android:theme="@android:style/Theme.NoTitleBar"
                android:screenOrientation="portrait"/>
    </application>
</manifest>
